@{
    ViewData["Title"] = "Sign Up for an Appointment";
    DateTime date =  DateTime.Now.Date.AddDays(-2);
}

@model List<Timeslots>;

<h1>@ViewData["Title"]</h1>


@foreach (var t in Model)
{
    if(t.Time.Date > date)
    {
        <h3>@t.Time.DayOfWeek, @t.Time.Date.ToString("M")</h3>
    }
    if (t.Available == true)
    {
        <a class="btn btn-primary" asp-controller="Home" asp-action="Form" asp-route-time="@t.TimeId">@(t.Time.Hour < 13 ? t.Time.Hour : t.Time.Hour - 12) @(t.Time.Hour < 12 ? "am" : "pm") </a>
    }
    date = t.Time.Date;
}